<!DOCTYPE html>
<html>
    <head>
        <title>Tis Django_Unchained's blog</title>
    </head>
    <body>
        <p>Hello World!</p>
        <p>Welcome to my journey of a thousand types, follow me as I learn web development!</p>
    </body>
</html>
<html>
    <head>
        <title> blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tis Django_Unchained's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> Welcome to my journey of a thousand types, follow me as I learn web development</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Learning to code takes a special kind of character, not only do you need grit but you must be a masochist, with the stack you choose as concurrently your Master , your collar and your whip.</p>
        </article>
    </body>
</html>