<!DOCTYPE html>
<html>
    <head>
        <title>Tis Django_Unchained's blog</title>
    </head>
    <body>
        <p>Hello World!</p>
        <p>Welcome to my journey of a thousand types, follow me as I learn web development!</p>
    </body>
</html>
<html>
    <head>
        <title> blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tis Django_Unchained's Blog</a></h1>
        </header>

        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html>